<h3>Create New Gallery</h3>
<form class="newgallery">
  <label>Title
    <input type="text" name="gallery[title]" value="gallery title"></label>
    <label>Description
      <input type="textarea" name="gallery[description]" value="gallery description"></label>
      <input type="submit" value="Create" class="hidden">
</form>
