<div class="modal-background">
<!-- <div class="modal-content well"> -->
<div class="vertical-alignment-helper">
<div class="modal-dialog vertical-align-center">
<div class="modal-content">
<div class="modal-title-text">
<h2>Add Photo</h2>
</div>
<form class="newphoto">

  <input type="filepicker" class="btn btn-default filepickbutton" name="photo[filepicker_url]"
  data-fp-mimetype="image/*">
  <div class="form-title-modal">
  <label>Title
    <input type="text" name="photo[title]" placeholder="Title"></label>
  </div>
    <label>Description
      <input type="textarea" name="photo[description]" placeholder="Description"></label>
      <select class="form-control" name="photo[gallery_id]">
        <option selected>Select Gallery</option>
        <option class="value="New">Create New Gallery</option>
        <% galleries.each(function (gallery) { %>
          <option value="<%=gallery.id%>"><%= gallery.escape("title") %></option>
      <% }); %>
      </select>
        <div class="form-group">
          <img class="photo-preview-image img-resposive img-thumb" data-src="<%= photo.get('filepicker_url') %>">
        </div>
        <div class="submit-modal">
          <input type="submit" value="Post Now" class="btn btn-default">
        </div>
      </form>

      <div class="preview"></div>

      <div class="end-modal button">
        <button type="button" class="btn btn-default end-modal">Exit</button>
      </div>

</div>
</div>
</div>
</div>
