<h1>Add Photo</h1>
<form class="newphoto">

  <input type="filepicker" class="btn btn-default filepickbutton" name="photo[filepicker_url]"
  data-fp-mimetype="image/*">
  <label>Title
    <input type="text" name="photo[title]" placeholder="Title"></label>
  <label>Description
    <input type="textarea" name="photo[description]" placeholder="Description"></label>
    <select name="photo[gallery_id]" id>
        <option selected>Select Gallery</option>
        <option value="New">Create New Gallery</option>
      <% galleries.each(function (gallery) { %>
        <option value="<%=gallery.id%>"><%= gallery.escape("title") %></option>
      <% }); %>
      </select>
    <input type="submit" value="Post Now" class="btn btn-default">
</form>

<div class="preview"></div>
