  <div class="container-fluid offset2">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-sm-3 col-md-8 photo-index-header">
          <div class="header-photos">
            <h1>All Photos<h1>
          </div>
            <button type="button" class="modal-btn btn btn-default">Add Photo</button>
            </div>
        </div>

        <div class="row row-offcanvas row-offcanvas-right">
          <div class="col-sm-3 col-md-11 photo-index-layout">
            <div id="myphotos">
              <% photos.each(function (photo) { %>
                <a href="#photos/<%= photo.id %>">
                  <img src="<%= photo.escape('filepicker_url') %>" height="70px" width="105px">
                </a>
              <% }); %>
            </div>
          </div>
        </div>

  </div>
