<h1>Photo</h1>
<div class='photo-title'>
  <h4><%= photo.escape('title') %></h4>
</div>

<div class='photo-description'>
  <h4><%= photo.escape("description") %></h4>
</div>

<img src= <%= photo.escape("filepicker_url")%> >

<div class='add tagging window'>
  <div id="taggings-form">
  </div>
</div>

<div class='taggings window'>
  <div id="photo-taggings">
  </div>
</div>

<div class='index-link'>
  <a href="#photos">
    <h4>Back to Photo Index</h4>
  </a>
</div>
