<h3>Add Tag</h3>
<form class="newtag">
  <label>Tag
  <input class="tag-label-input" type="text" name="tag[label]" placeholder="Tag Name"></label>
  <input type="submit" value="Add Tag" class="btn btn-default">
</form>
