<div class="modal-background">
<!-- <div class="modal-content well"> -->
<div class="vertical-alignment-helper">
<div class="modal-dialog vertical-align-center">
<div class="modal-content">
<h2>Add Gallery</h2>
<form class="newgallery">
  <label>Title
    <input type="text" name="gallery[title]" placeholder="Gallery Title"></label>
    <label>Description
      <input type="textarea" name="gallery[description]" ="gallery description"></label>
      <input type="submit" value="Create" class="btn btn-default">
    </form>


      <div class="end-modal button">
        <button type="button" class="btn btn-default end-modal">Exit</button>
      </div>

</div>
</div>
</div>
</div>
