<h1>New Gallery</h1>
<form class="newgallery">
  <label>Title
    <input type="text" name="gallery[title]" value="gallery title"></label>
  <label>Description
    <input type="textarea" name="gallery[decription]" value="gallery description"></label>
    <input type="submit" value="Create" class="btn btn-default">
</form>

<div class="preview"></div>
