<h1>New Gallery</h1>
<form class="newgallery">
  <label>Title
    <input type="text" name="gallery[title]" placeholder="Title"></label>
  <label>Description
    <input type="textarea" name="gallery[description]" placeholder="Description"></label>
    <input type="submit" value="Create" class="btn btn-default">
</form>
