<h3>Gallery Index</h3>
<% galleries.each(function (gallery) { %>
  <div class='gallery-title'>
    <a href="#galleries/<%= gallery.id %>">
      <h4><%= gallery.escape('title') %></h4>
    </a>
    <div class='photos-window'>
      <div id="photos">
      </div>
    </div>
  </div>
  <% }); %>
  <br>
<div class='gallery-new'>
  <a href="#galleries/new">
    <h3>Add a gallery</h3>
  </a>
</div>
