<div class="container-fluid">

  <div class="row row-offcanvas row-offcanvas-left">

    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

      <div class="list-group">
        <% galleries.each(function (gallery) { %>
          <a class="list-group-item" data-id="<%= gallery.id %>" href="#galleries/<%= gallery.id %>"><%= gallery.escape('title') %></a>
          <% }); %>
        </div>
    </div>

    <div class="col-sm-9 col-md-10 main">

      <h1 class="page-header">
        All Galleries
        <p class="lead">Hover to preview photos</p>
        <button type="button" class="modal-btn btn btn-default">Add Gallery</button>
        <div id="previewArea"></div>


    </div>
  </div>
</div>
