
<div class="container-fluid offset2">

    <div class="row row-offcanvas row-offcanvas-right gallery-preview-container">
      <div class="col-sm-3 col-md-11 gallery-preview-layout">
          <div id="mygallery">
          </div>

          <div id="gallery-index">
          </div>

          </div>
        </div>
      </div>
