<div class="photo-modal-button">
  <button type="button" class="modal-btn btn btn-default">Add Photo</button>
</div>


  <div class='gallery-gallery-title'>
    <h4><%= gallery.escape('title') %></h4>
  </div>

  <div class='gallery-description'>
    <h4><%= gallery.escape("description") %></h4>
  </div>

<!-- <div class="gallery-photo-container js-masonry" data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'> -->
<div id="mygallery">
    <div class='photos-window'>
      <div id="photos" class="img-responsive">
      </div>
    </div>
</div>

  <div class='gallery-index-window'>
    <div id="gallery-index">
    </div>
  </div>
</div>

  <a href="#galleries">Galleries Index</a>
