
<div class="container-fluid offset2">

  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-sm-3 col-md-8 galler-show-header">
      <div class="gallery-show-title">
        <h1 class="gal-title"><%= gallery.escape('title')%><h1>
        <p class="lead gal-description"><%= gallery.escape("description") %></p>
        <button type="button" class="modal-btn btn btn-default">Add Photo</button>
        <button type="button" class="btn btn-default delete-gallery-btn delete">Delete Gallery</button>
      </div>
      </div>
    </div>

    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-sm-offset-3 gallery-preview-container">
          <div id="mygallery">
          </div>

          <div id="gallery-index">
          </div>

          </div>
        </div>
      </div>
