
<div class='gallery-gallery-title'>
  <h4><%= gallery.escape('title') %></h4>
</div>


<div class='gallery-description'>
  <h4><%= gallery.escape("description") %></h4>
</div>

<div class='photos-window'>
  <div id="photos">
  </div>
</div>

<div class='gallery-index-window'>
  <div id="gallery-index">
  </div>
</div>

<a href="#galleries">Galleries Index</a>
