<h4> Add New Photo </h4>
<%= form_for @photo do |f| %>

<%= f.filepicker_field :filepicker_url, dragdrop: true %>
<input type="filepicker"
data-fp-mimetype="image/*"
name="photo[filepicker_url]"
data-fp-button-text="Choose Image"
data-fp-button-class="btn btn-default">
<script src="http://api.filepicker.io/v1/filepicker.js"</script>
  </
  <%= f.submit %>

  <% end %>
