// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

////////////////////////
//
//
// body {
//   padding-top: 0px;
//   background-color: #f5f5f5;
// }
// footer {
//   padding-left: 15px;
//   padding-right: 15px;
//   background-color: #fff;
// }

//off canvas

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}

// Sidebar navigation //
.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: white;
}


// Main content //

.main {
  padding: 20px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}




////////////////////////




#sidebar {
  margin-top: -20px;
  margin-left: -20px;

  .list-group-item {
    background-color: gray;
    border-color: black;
    border-opacity: 0.0;
  }
}

.gallery-preview-container {
  margin-top: 30px;
}

.gallery-sidebar {
  margin-left: 40px;
  margin-top: 100px;
}

.gallery-show-title {
  margin-left: 40px;
  // float: left;

  .gal-title {
    float:left;
    display:inline;
  }

  .gal-description {
    float:left;
    display:inline;
    margin-top: 29px;
    margin-left: 20px;
  }

  .modal-btn {
    float:left;
    display:inline;
    margin-top: 7px;
    margin-left: 20px;
  }

  .delete-gallery-btn{
    float:left;
    display:inline;
    margin-top: 7px;
    margin-left: 20px;
  }

}


#gallery-index {
  min-height: 300px;
  min-width: 300px;
}

.photos-window {
  border-right: 100px;
  #photos: {

  }
}

.modal-background {
  background-color: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1031;
}
.modal-dialog {
  top: -100px;
.modal-content {
  width: 50%;
  opacity: 100%;
  position: absolute;
  margin-top: 40%;
  border-radius: 0px, 0px;
  left: 25%;
  z-index: 1032;
  background-color: rgb(240, 240, 240);
  padding: 15px;
}
}

#gallery-index-view {
  position: fixed;
  top: 70px;
  left: 0;

    .container {
      position: relative;
      color: rgba(0, 0, 0, .75);

          .sidebar{
            position: relative;
            float:left;
            width: 30%;
          }

          .content{
            position: relative;
            float:left;
            width: 70%;
          }

    }
}
