// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery-preview-container {
  margin-top: 67px;
}

.gallery-sidebar {
  margin-left: 40px;
}

.gallery-show-title {
  margin-left: 40px;
  // float: left;

  .gal-title {
    float:left;
    display:inline;
  }

  .gal-description {
    float:left;
    display:inline;
    margin-top: 29px;
    margin-left: 20px;
  }

  .modal-btn {
    float:left;
    display:inline;
    margin-top: 7px;
    margin-left: 20px;
  }

  .delete-gallery-btn{
    float:left;
    display:inline;
    margin-top: 7px;
    margin-left: 20px;
  }

}


#gallery-index {
  min-height: 300px;
  min-width: 300px;
}

.photos-window {
  border-right: 100px;
  #photos: {

  }
}

.modal-background {
  background-color: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1031;
}
.modal-dialog {
  top: -100px;
.modal-content {
  width: 50%;
  opacity: 100%;
  position: absolute;
  margin-top: 40%;
  border-radius: 15px;
  left: 25%;
  z-index: 1032;
  background-color: rgb(240, 240, 240);
  padding: 15px;
}
}

#gallery-index-view {
  position: fixed;
  top: 70px;
  left: 0;

    .container {
      position: relative;
      color: rgba(0, 0, 0, .75);

          .sidebar{
            position: relative;
            float:left;
            width: 30%;
          }

          .content{
            position: relative;
            float:left;
            width: 70%;
          }

    }
}
