// .taggings-window {
//   // background-color: rgba(0, 0, 0, .75);
//   color: rgba(0, 0, 0, .75);
//   #photo-taggings {
//     background-color: rgba(0, 0, 0, .75);
//   }
// }

.photo-index-header{
  margin-left: 40px;
  float: left;

  .header-photos {
    float:left;
    display:inline;
  }

  .modal-btn {
    float:left;
    display:inline;
    margin-top: 8px;
    margin-left: 20px;
  }
}

.photo-index-layout {
  margin-left: 40px;
}


.form-title-modal {
  margin-bottom: 5px;
  margin-top: 5px;
}

.modal-title-text {
  text-align: center;
}

.submit-modal {
  margin-bottom: 5px;
  margin-top: 5px;
}

.taggings-window {
  margin-left: 15px;
  margin-bottom: 10px;
  .photo-tag {
    margin-bottom: 2px;
    margin-right: 2px;
    float: left;
  }
}

.buttons-window {
  clear: both;
  margin-left: 30px;
  float: left;
  margin-right: 2px;
}

.photo-title {
  color: gray;
  font-size: 50px;

}

.tag-text{
  padding-left: 30px;
}

.newtag {
  left-margin: 50px;
  padding: 30px;
}

.photo-title {
  text-align: center;
}


.photo-description{
  text-align: center;
}

.photo-show-align{
  margin: 0 auto;
  width: 300px;
  display: block;
  .img-responsive {
    margin: 0 auto;
    display: block;
  }
}
// container for other gallery items

// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-thumb {
  position: relative;
  width:100%;
  height: auto;
  overflow:hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

// #bg-image-photo-show {
//   // background: url("loginbg.png"); //no-repeat center center fixed;
//   position: fixed;
//   top: -50%;
//   left: -50%;
//   width: 200%;
//   height: 200%;
//   z-index: -10;
// }
#bg-image-photo-show img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.modal-background {
  background-color: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1031;
}
.modal-content {
  width: 50%;
  opacity: 100%;
  position: absolute;
  margin-top: 40%;
  border-radius: 15px;
  left: 25%;
  z-index: 1032;
  background-color: rgba(0, 0, 0, .75); //rgb(240, 240, 240);
  padding: 15px;
}

#photo-show-wrapper {
  color: rgba(0, 0, 0, .75);
  .photo-show-content {
    border-radius: 20px;
    // padding-left: 75px;
    padding-bottom: 35px;
    background: rgba(0, 0, 0, .1);
  }

}

// .card-modal-dismiss {
//   float: right;
//   font-size: 130%;
//   &:hover {
//     text-decoration: none;
//   }
// }
