.taggings-window {
  // background-color: rgba(0, 0, 0, .75);
  color: rgba(0, 0, 0, .75);
  #photo-taggings {
    background-color: rgba(0, 0, 0, .75);
  }
}

.photo-title {
  color: gray;
  font-size: 50px;

}


// container for other gallery items

// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-thumb {
  position: relative;
  width:100%;
  height: auto;
  overflow:hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

// #bg-image-photo-show {
//   // background: url("loginbg.png"); //no-repeat center center fixed;
//   position: fixed;
//   top: -50%;
//   left: -50%;
//   width: 200%;
//   height: 200%;
//   z-index: -10;
// }
#bg-image-photo-show img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.modal-background {
  background-color: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1031;
}
.modal-content {
  width: 50%;
  opacity: 100%;
  position: absolute;
  margin-top: 40%;
  border-radius: 15px;
  left: 25%;
  z-index: 1032;
  background-color: rgba(0, 0, 0, .75); //rgb(240, 240, 240);
  padding: 15px;
}

#photo-show-wrapper {
  color: rgba(0, 0, 0, .75);
  .photo-show-content {
    border-radius: 20px;
    padding-left: 75px;
    padding-bottom: 35px;
    background-color: rgba(0, 0, 0, .75);
  }

}

// .card-modal-dismiss {
//   float: right;
//   font-size: 130%;
//   &:hover {
//     text-decoration: none;
//   }
// }
