// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .taggings-window.well {
  // color: gray;
  // background-color: rgba(0, 0, 0, .75);
  // text-align: center;


.taggings-window.well{
  // background: rgba(0, 0, 0, 0);
  // opacity: 0;
  .photo-taggings{
    background: rgba(0, 0, 0, .75);
      .photo-tag {
        color: black;
        opacity: 0.7;
        border-radius: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        margin-bottom: 2px;
        margin-right: 2px;
        float: left;
        background: rgba(0, 0, 0, .75);

        // position: absolute;

      .tag-text {
        // position: fixed;
        border-style: gray;
        border-radius: 15px;
        color: black
      }

      }
    // opacity: 0;
  }
}
