<h3 class="tag-text"></h3>
<form class="newtag">
  <label>
  <input class="tag-label-input" type="text" name="tag[label]" value="tag name"></label>
  <input type="submit" value="Add Tag" class="btn btn-default">
</form>
